.jumbotron{
    background: url("../images/joinus.png");
    background-size:cover;
    background-position: center center;
    height: 660px;
    width: 100%;
    padding-top: 140px;
    margin-bottom: 0px;
    color:white;
    font-size : 20px;
}

#text{
    width:300px;
}


.map
{
    margin-left: 683px;
    height: 888px;
    width: 666px;
    position: absolute;
    transform: translate(0,-550px);

}

.span1
{
    align-content: center;
}

.secttwo
{
    background-color: white;
}

.lis:hover
{
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
}

/*NavBar*/
#navbar2{
   background-color: rgba(143, 119, 119, 0.9) !important;
}

/*JoinUs Section*/
#joinus-section{
    background: url("../images/joinus.png");
    background-size:cover;
    background-position: center center;
    height: 660px;
    width: 100%;
    padding-top: 140px;
    margin-bottom: 0px;
    color:white;
    font-size : 20px;
}
#joinus-title{
    text-shadow: -10px 10px 0px #b30e0e15;
}

#joinus-text{
    width:300px;
}
.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

