body{
    background-color: #e9f2fa;
}
#choice {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    border-radius: 10px;
}

h1{
    text-align: center;
}

#choice:hover{
    width:60%;
    margin-left:20%;
    transition: 1s;
}




