body
{
    background-image: url("../images/pattern.jpg");
}

.inputs
{
    width:1050px;
}

.circle
{
    height: 20px;
    width: 20px;
    background-color: #555;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    transform: translate(0,8px);
}

.cent
{
    margin-top: 30px;
    margin-left: 42.5%;
}

.star {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    color: #0d0d0d;

}

.halfs {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
}

#menu
{
    visibility: hidden;
    width: 100px;
}

#changecolor
{
    width:200px;
}




