<html>
<head>
    {% block stylesheet %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/tabicon.ico') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    {% endblock %}
    {%  block js %}
    {% endblock %}
    <title>{% block title %}Page{% endblock %}</title>
</head>
<body>
   {% block messages %}
   {% for message in app.session.flashbag.get('info') %}
   {% endfor %}
   {% for message in app.session.flashbag.get('fail') %}
       <div class="alert alert-dismissible alert-danger">
           {{ message }}
       </div>
   {% endfor %}
   {% for message in app.session.flashbag.get('success') %}
       <div class="alert alert-dismissible alert-success">
           {{ message }}
       </div>
   {% endfor %}
   {% endblock %}



   {% block body %}
   {% endblock %}
</body>
</html>